body{
    margin: 0;
    padding: 0;
}
.header-container{
    width: 80%;
	margin: auto;
    overflow: hidden;
   
}
.nav{
	background: rgb(226, 0, 30);
	background-color: rgb(94, 83, 83);
	color:#ffffff;
	min-height: 50px;
	border-bottom: 10px;
	padding-top: 20px;
	max-height: 50px;
	border-bottom: 2px solid rgb(216, 123, 123);
}	
.nav-list{
   display: flex;
   flex-direction: row;
}

.nav-list a{
	color:#ffffff;
	text-decoration: none;
	font-size: 20px;
}
.shopping-cart{
	display: flex;
	margin-right: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.shopping-cart a{
	text-decoration: none;
	color: white;
}
.fa-shopping-cart{
	text-decoration: none;
	color: white;
}
#headercontainer a{
	text-decoration: none;
	color:#ffffff;
}

header nav{
	float: right;
}

header ul{
	margin-top:10px;;
	padding:0;
	float: left;
}

header ul li{
	display: inline;
	padding: 0 20px 0 20px;
	text-decoration: none;	
}


header a:hover{
	font-weight: bold;
	opacity: 0.6;
}


#header-sm-sc{
	display: none;
	float: right;
	margin: auto;
    cursor: pointer;
	opacity: 0.9;
}
.small-header-cart{
	flex: 1;
	padding-top: 5px;
}
.header-bars{
	flex: 1;
}
.bar {
    width: 20px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
}
#homecontainer{
    float: left;
	width: 40%;
}
#homecontainer a {
	text-decoration: none;
	color: inherit;
}

#homecontainer h1{
	margin-top: 0px;
	padding-top: 0px;
}

#homecontainer img{
	float: left;
	width: 30px;
	height: 30px;
	
}

/* the navigation menu */
#slide-nav {
	display: none;
	position: relative;
	width: 100%;
    top: 0; /* Stay at the top */
    left: 0;
    background-color:rgba(41, 23, 25, 0.7); 
	transition: 0.9s; 
}

/* The navigation menu links */

#slide-nav a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f5ebeb;
    display: block;
    transition: 0.3s;
}
/*user header*/

/* content and idea gotten from w3schools.com*/
/*https://www.w3schools.com/css/css_navbar.asp*/
.ul-user {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
	background-color: #333;
	border-radius: 4px;
}

.li-user {
    float: left;
}

.li-user a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
	text-decoration: none;
}

.li-user span{
	font-size: 12px;
	color: inherit;
}
.li-user a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align: left;
	font-size: 13px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.admin-header-bars{
	display: none;
	float: right;
	margin: auto;
    cursor: pointer;
	opacity: 0.9;
	
}


/* When you mouse over the navigation links, change their color */
#slide-nav a:hover {
    color: #f1f1f1;
}
.nav-slide-toggle{
	height: 240px !important;
	display: block !important;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
	#header-sm-sc{
		display: flex;
	}
	.admin-header-bars{
		display: inline-block;
	}
	.nav-list{
		display: none !important;
	}
	header nav{
		display: none;
	}
	#homecontainer{
		width: 70%;
	}
	#homecontainer h1{
		font-size: 28px;
	}
}


@media screen and (max-width: 600px) {
	#header-sm-sc{
		display: flex;
		align-items: center;
	}
	.admin-header-bars{
		display: inline-block;
	}
	.nav-list{
		display: none !important;
	}
	header nav{
		display: none;
	}
	#homecontainer{
		width: 70%;
	}
	#homecontainer h1{
		font-size: 23px;
	}
	.brand-act-cov{
		float:none;
		display: block;
		width: 100%;
	}
}